@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.594) , white );
}

main {
    color: white;
}

main h1 {
    color: blue;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

form {
    text-align: center;
}

label {
    font-size: 1.5em;
}
#cep {
    margin-left: 50px;
    margin-bottom: 20px;
}

aside {
    float: right;
    margin-top: -40px;
}

